h2 {
    text-align: center;
    width: 80%;
    margin-top: 60px;
    
    text-shadow: -2px -2px 0 #000e35,  
                2px -2px 0 #000e35,
                -2px 2px 0 #000e35,
                2px 2px 0 #000e35;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.logo-container {
    position: absolute;
    top: 70px;
    left: 50%;
    
    transform: translateX(-50%);
    z-index: 999; /* Menetapkan z-index agar gambar berada di atas semua elemen */
    
}

.bg-utama{
    background: linear-gradient(360deg, #ffffff27, #ffffff83);
    border-radius: 10px; /* Sudut sudut kotak */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bayangan */
    padding: 20px; /* Ukuran padding yang benar */
    width: 95%; /* Lebar kotak */
    max-width: 600px;
    margin:auto; /* Pusatkan kotak secara horizontal */
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: max-height 1s ease-out, top 0.8s ease-in-out;
    margin-bottom: 50px;
}

.container {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 95%;
    transition: max-height 1s ease-out, top 0.8s ease-in-out;
    color: #757575;
    background-color: #ffffff;
}
.container h3 {
    cursor: pointer;
    display: flex; /* Menggunakan flexbox untuk mengatur posisi */
    flex-direction: column; /* Mengatur posisi IDS di bawah Nama */
    padding-left: 20px;
    padding-right: 20px;
}

.details {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.details table {
    width: 100%;
    margin-top: 0px;
}
.details th {
    text-align: left;
    vertical-align: top;
    color: #494949;
    font-size: 12px;
    min-width: 30px;
    display: none;
}
.details td {
    text-align: left;
    vertical-align: top;
    color: #888888;
    font-size: 12px;
}


.nama {
    font-size: 18px; /* Atur ukuran font Nama */
    margin-bottom: 5px; /* Jarak antara Nama dan IDS */
    color: #000000;
}

.formal, .status, .diniyah {
    font-size: 12px
    
}

.admin, .bn, .daerah, .nokamar, .ids {
    display: none;
}
.santri {
    font-size: 12px;
    display: none;
}


.input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    display: none; /* Sembunyikan input-container secara default */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.input-container input, 
.input-container select {
    margin-right: 5px;
    border-radius: 4px;
    height: 30px;
    border-width: 1px;
    border-color: #757575;
}

.submit-button {
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




.cool-box {
    background: linear-gradient(320deg, #000000, #012363);
    border: 2px solid #b0f7f7;
    border-radius: 10px; /* Sudut sudut kotak */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bayangan */
    padding: 20px; /* Ukuran padding yang benar */
    width: 80%; /* Lebar kotak */
    max-width: 300px;
    margin: auto; /* Pusatkan kotak secara horizontal */
    flex-direction: column;
    
    position:static;
    overflow: hidden;
    transition: max-height 1s ease-out, top 0.8s ease-in-out;
    margin-bottom: 50px;
}

.cool-box p {
    font-weight: bold;
    font-size:smaller;
    background-color: #ffffff00;
    color: #ffffff;
    padding-bottom: 0px;
    padding-top: 20px;
}

.cool-box label {
    color: #888888;
    font-weight: normal;
    font-size: smaller;
    padding-top: 10px;
}

.Heading3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0502b4;
}

.Biodata{
    background-color: #ffffff;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 400px;
    
    transition: opacity 0.5s;
}



.visible {
    display: block;
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0;
}


.TTL{
    background-color: #dadada00;
    display:inline-flex;
    justify-content:space-between; /* Untuk memberikan jarak antara elemen-elemen di dalam .ttl */
}

.TTL label{
    width: 100px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkbox-wrapper label {
    margin-left: 8px;
}




/* HTML: <div class="loader"></div> */
.load-frame {
    position:relative;
    left: 42%;
}

.loader {
    --s: 90px;
    width: var(--s);
    aspect-ratio: 2;
    --_g: #000000 90%,#0000;
    background: 
      radial-gradient(farthest-side,var(--_g)) 0   50%/25% 50%,
      radial-gradient(farthest-side at bottom,var(--_g)) 50%  calc(50% - var(--s)/16)/25% 25%,
      radial-gradient(farthest-side at top   ,var(--_g)) 50%  calc(50% + var(--s)/16)/25% 25%,
      radial-gradient(farthest-side at bottom,var(--_g)) 100% calc(50% - var(--s)/16)/25% 25%,
      radial-gradient(farthest-side at top   ,var(--_g)) 100% calc(50% + var(--s)/16)/25% 25%;
    background-repeat: no-repeat;
    animation: l14 1s infinite;
  }
  @keyframes l14 {
      25%  {background-position:0    50%,50% 0,50% 100%,100% 0,100% 100%}
      50%  {background-position:100% 50%,0   0,0   100%,50%  0,50%  100%}
      75%,
      100% {background-position:100% 50%,0 calc(50% - var(--s)/16),0 calc(50% + var(--s)/16),50% calc(50% - var(--s)/16),50% calc(50% + var(--s)/16)}
  }








.loading-indicator {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
}

.spinner {
    position: relative; /* Menjadikan posisi relatif untuk child */
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

#loading-count {
    position: absolute; /* Menjadikan posisi absolut untuk #loading-count */
    top: 50%; /* Posisi di tengah vertikal */
    left: 50%; /* Posisi di tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser agar tepat berada di tengah */
    font-size: 10px; /* Atur ukuran font sesuai kebutuhan */
    color: white; /* Warna teks putih */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}





/* Gaya mode terang untuk semua dropdown */
select::-webkit-calendar-picker-indicator {
    color: #0a0a0a; /* Warna teks pada mode gelap */
    background-color: #f7f7f7; /* Warna latar belakang pada mode gelap */
}

/* Gaya mode gelap untuk semua dropdown */
@media (prefers-color-scheme: dark) {
    select::-webkit-calendar-picker-indicator {
        color: #fff; /* Warna teks pada mode gelap */
        background-color: #242424; /* Warna latar belakang pada mode gelap */
    }
}

#Judul{
    font-weight: bold;
}

#example {
    background-color: white; /* Memberikan latar belakang putih pada tabel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan pada tabel */
    
}