
body {
    background-image: url('https://i.ibb.co/ssfPyWM/Untitled-1.jpg');
    background-repeat: repeat;
    background-attachment:fixed;
}
.cool-box {
    background: linear-gradient(320deg, #000000, #0502b4);
    border: 2px solid #ffffff;
    border-radius: 10px; /* Sudut sudut kotak */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bayangan */
    padding: 20px; /* Ukuran padding yang benar */
    width: 80%; /* Lebar kotak */
    max-width: 300px;
    margin: auto; /* Pusatkan kotak secara horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    position:static;
    overflow: hidden;
    transition: max-height 1s ease-out, top 0.8s ease-in-out;
    display:none;
}




.cool-box button {
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(31, 128, 19);
    border-color: #f0f0f0;
}

.cool-box input {
    font-weight: bold;
    font-size:medium;
}

#Daftar{
    width: auto;
}

/* ---------------Mengatur Label pada setiap teksbox ------------*/
.input-wrapper, .select-wrapper {
    position:relative;
    
}

.input-wrapper input, .select-wrapper select {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
}

.input-wrapper label, .select-wrapper label {
    position:absolute;
    top: 8px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.2s;
}

/* Untuk input */
.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #05198a;
    background: #fff;
    padding: 0 5px;
}

/* Untuk select */
    
.select-wrapper select:focus + label,
.select-wrapper select:not([value=""]) + label {
    top: -10px;
    font-size: 12px;
    color: #05198a;
    background: #fff;
    padding: 0 5px;
}

.Heading3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0502b4;
}

.Biodata{
    background-color: #ffffff;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 400px;
    /*display: none;*/
    transition: opacity 0.5s;
}



#Melanjutkan{
    max-width: 300px;
    margin: auto;
}

#BiodataWali, #AsalMadrasah, #InformasiTambahan{
    background-color: rgb(248, 230, 192);
}

.Biodata input {
    margin-bottom: 12px;
    margin-top: 5px;
    background-color:rgb(255, 255, 255);
    padding-left: 8px;
}

.Biodata select {
    margin-bottom: 12px;
    margin-top: 5px;
    background-color:rgb(255, 255, 255);
    padding-left: 8px;
}

#RT{
    width: 50px;
}

#RW{
    width: 50px;
}

.visible {
    display: block;
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0;
}


.TTL{
    background-color: #dadada00;
    display: flex;
    justify-content:space-between; /* Untuk memberikan jarak antara elemen-elemen di dalam .ttl */
        
}

.TTL input{
    margin-bottom: 9px;
    margin-top: 2px;
    
    background-color:rgb(255, 255, 255);
    padding-left: 5px;
}

.TTL select{
    margin-bottom: 9px;
    margin-top: 2px;
    
    background-color:rgb(255, 255, 255);
    padding-left: 0px;
}

#saveButton{
    position: relative;
    width: 100px;
    height: 40px;
    font-weight: bold;
}


/* HTML: <div class="loader"></div> */
#loader {
    width: 100%;
    height: 20px;
    background: 
        linear-gradient(#07971a 0 0) left -40px top 0/40px 20px,
        linear-gradient(#ddd 0 0) center/100% 50%; 
    background-repeat: no-repeat;
    animation: l5 1s infinite linear;
    }
    @keyframes l5 {
    100% {background-position: right -40px top 0,center}
}




/* Gaya mode terang untuk semua dropdown */
select::-webkit-calendar-picker-indicator {
    color: #0a0a0a; /* Warna teks pada mode gelap */
    background-color: #f7f7f7; /* Warna latar belakang pada mode gelap */
}

/* Gaya mode gelap untuk semua dropdown */
@media (prefers-color-scheme: dark) {
    select::-webkit-calendar-picker-indicator {
        color: #fff; /* Warna teks pada mode gelap */
        background-color: #242424; /* Warna latar belakang pada mode gelap */
    }
}

#Judul{
    font-weight: bold;
}

#example {
    background-color: white; /* Memberikan latar belakang putih pada tabel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan pada tabel */
    
}

    
